/* ANIMATIONS */

@keyframes animationButton {
    0% {
        background-color: #0e54a9;
        box-shadow: 0 3px #0f5bb8 inset, 0 -3px #0d4d9c inset;
    }
    100% {
        background-color: #3c9de2;
        box-shadow: 0 3px 10px #4ea6e4 inset, 0 -3px 10px #2a94df inset;
        border-color: #4eb0ea;
        color: #ffffff;
    }
}

@keyframes animationFade {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animationFadeSideLeft {
    from, 40% {
        transform: rotate(-15deg);
        right: 180%;
    }
    to {
        transform: rotate(0);
        right: 0;
    }
}

@keyframes animationFadeSideRight1 {
    from, 20% {left: 220%;}
    to {left: 0;}
}

@keyframes animationFadeSideRight2 {
    from, 25% {left: 220%;}
    to {left: 0;}
}

@keyframes animationFadeSideRight3 {
    from, 30% {left: 220%;}
    to {left: 0;}
}

@keyframes animationFadeSideRight4 {
    from, 35% {left: 220%;}
    to {left: 0;}
}

@keyframes animationFadeSideDown {
    0% {
        transform: scale(0.1);
        opacity: 0.5;
        top: 200px;
    }
    80% {
        transform: scale(0.3);
        opacity: 0.9;
        top: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* BASIC */

body {
    overflow-x: hidden;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    font-family: "MyriadPro", Arial, sans-serif;
    color: #c8c8c8;
    background: #4b4b4b url("../img/Background.jpg") no-repeat;
    background-size: cover;
}

*::selection {
    color: hsla(360, 100%, 100%, 1);
    background: hsla(178, 12%, 63%, 0.27);
}

.learn_more_link::selection,
.triangle_position::selection,
.top_info a::selection,
.contacts a::selection {
    color: hsla(200, 100%, 46%, 1);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 960px;
    min-width: 260px;
    margin: 0 auto;
}

.container img {
    pointer-events: none;
}

a {
    text-decoration: none;
}

main .learn_more_link,
.top_info a,
.bottom_info i {
    cursor: pointer;
}

.container .buy_now_button {
    user-select: none;
    font-size: 13px;
    background: linear-gradient(to top, #0e54a9 0%, #1864b7 25%, #2174c4 50%, #2f8bd6 75%, #3c9de2 100%);
    border: 1px solid #062337;
    border-radius: 15px;
    padding-top: 4px;
    padding-bottom: 1px;
}

.container .buy_now_button:hover {
    animation: animationButton 1s linear infinite alternate;
}

.triangle_position {
    position: relative;
    padding-right: 16px;
}

.container .triangle {
    position: absolute;
    top: 4px;
    right: 0px;
    width: 0;
  	height: 0;
  	border-top: 5px solid transparent;
  	border-left: 8px solid #7bc0ff;
  	border-bottom: 5px solid transparent;
}

.top_info .triangle {
    right: -16px;
}

.container a:hover .triangle {
    transform: scale(1.2);
    border-left-color: #a2dafb;
}

.news a:hover .triangle {
    top: 4.5px;
}

nav .img_apple,
nav .img_search,
.contacts .flag {
    position: absolute;
    background: url("../img/sprite_icon.png") no-repeat;
}

.application div,
.applications div,
.mac_app_store div {
    background: url("../img/sprite_image.png") no-repeat;
}

.mobile_menu_arrow {
    display: none;
}

.display {
    display: none;
}

/* HEADER */

nav {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 35px;
}

nav>ul,
.additional_menu_position>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li,
.additional_menu_position li {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

nav li {
    margin-right: -5px;
}

nav a,
nav span {
    transition: all 35ms;
    display: block;
    width: 104px;
    font-size: 14px;
    color: #fefefe;
    border: 1px solid #4a4a4a;
    background: #6c6c6c linear-gradient(to top, #8d8d88 0%, #6c6c6c 25%, #636363 49%, #797979 50%, #a3a39f 100%);
    padding: 12px 0;
    margin-left: -1px;
}

nav a:hover {
    box-shadow: 0 -5px 5px #a3a39f inset,  0 -20px 5px #8d8d8b inset, 0 -32px 5px #6c6c6c inset, 0 -42px 25px #8d8d88 inset;
    font-size: 14.5px;
    text-shadow: #f7f7f7 0 0 1px;
}

nav li:first-of-type a:hover {
    box-shadow: none;
    font-size: 14px;
    text-shadow: none;
}

nav li:first-of-type a,
nav li:last-of-type span {
    position: relative;
    text-indent: -9999px;
}

nav li:first-of-type a {
    border-radius: 6px 0 0 6px;
    margin-left: 0;
}

nav li:last-of-type span {
    width: 118px;
    border-radius: 0 6px 6px 0;
}

nav .img_apple {
    width: 22px;
    height: 25px;
    top: 7px;
    left: 40px;
}

nav input {
    position: absolute;
    padding-left: 22px;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    font-family: "MyriadPro", Arial, sans-serif;
    color: #c8c8c8;
    width: 95px;
    top: 10px;
    right: 10px;
    border: 1px solid #7e7e7e;
    border-radius: 15px;
    background: linear-gradient(to top, #6c6c6c 25%, #636363 48%, #797979 49%, #828282 100%);
    box-shadow: inset 0 1px #484848;
}

nav input:focus {
    outline: none;
}

nav .img_search {
    width: 17px;
    height: 16px;
    background-position: 0px -25px;
    top: 15px;
    left: 18px;
}

header>div {
    margin-bottom: 70px;
}

header>div>span {
    animation: animationFade 2.5s;
    display: inline-block;
    font-size: 30px;
    margin-left: 4px;
    font-weight: bold;
    letter-spacing: -0.02em;
}

.additional_menu_position {
    position: relative;
    max-width: 655px;
    float: right;
}

.additional_menu_position a {
    display: block;
    font-size: 12px;
    color: #f0f0f0;
    margin-right: 40px;
    letter-spacing: 0.03em;
}

.additional_menu_position a:hover {
    text-decoration: underline;
}

.additional_menu_position li:nth-of-type(3) a {
    margin-right: 10px;
}

.additional_menu_position li:last-of-type a {
    margin-right: 4px;
    width: 80px;
}

.additional_menu_position li:last-of-type a:hover {
    text-decoration: none;
}

.additional_menu_position li:first-of-type {
    animation: animationFadeSideRight1 2.5s;
    position: relative;
}

.additional_menu_position li:nth-of-type(2) {
    animation: animationFadeSideRight2 2.5s;
    position: relative;
}

.additional_menu_position li:nth-of-type(3) {
    animation: animationFadeSideRight3 2.5s;
    position: relative;
}

.additional_menu_position li:last-of-type {
    animation: animationFadeSideRight4 2.5s;
    position: relative;
}

/* MAIN */

main .learn_more_link {
    color: #89d2fe;
}

main .learn_more_link:hover {
    color: #a2dafb;
    font-size: 105%;
    line-height: 1;
}

.top_info {
    min-height: 200px;
    text-align: center;
    text-align: center;
}

.top_info>h1 {
    animation: animationFade 2.5s;
    font-size: 75px;
    margin-bottom: 45px;
    letter-spacing: -0.035em;
}

.top_info b {
    animation: animationFade 2.5s;
    display: block;
    padding-left: 9px;
    font-size: 34px;
    letter-spacing: -0.02em;
}

.top_info a {
    animation: animationFadeSideLeft 2.5s;
    transition: all 250ms;
    position: relative;
    display: inline-block;
    margin: 40px 0 35px;
    text-shadow: 2px 2px 1px black;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.035em;
    color: #95c2eb;
}

.top_info .triangle {
    transition: all 250ms;
}

.top_info a:hover {
    font-size: 23px;
    color: #a2dafb;
}

.top_info>img {
    animation: animationFadeSideDown 2.4s;
    position: relative;
    margin-left: -30%;
    margin-top: -36%;
    z-index: -1;
}

main .vidoeplayer {
    margin-top: -430px;
    padding-top: 45px;
    text-align: center;
    margin-bottom: 35px;
}

.vidoeplayer>img,
.vidoeplayer span {
    display: inline-block;
    vertical-align: middle;
}

.vidoeplayer span {
    width: 100px;
    color: #47a2d9;
    text-align: left;
    letter-spacing: -0.03em;
}

main .news {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 73px;
}

.news article {
    display: flex;
    flex-flow: column;
    width: 258px;
    font-size: 16px;
    padding: 0 38px 0 22px;
}

.news h2 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.023em;
}

.news p {
    width: 105%;
    padding-top: 5px;
    letter-spacing: -0.023em;
}

.news figure {
    width: 277px;
    height: 141px;
    margin-left: -2px;
    margin-top: auto;
    padding-bottom: 5px;
}

.news .picture {
    position: relative;
    padding-top: 18px;
}

.news .picture img {
    pointer-events: auto;
    position: absolute;
}

.picture:hover img {
    filter: saturate(200%);
}

.news article:nth-of-type(2) {
    margin-left: -3px;
    width: 260px;
    border-left: 3px solid;
    border-right: 3px solid;
    border-image: url("../img/Border_image.png") 3 stretch;
}

.background_image {
    background: url("../img/Bg960px.png") no-repeat;
}

main .application {
    position: relative;
    width: 964px;
    background: url("../img/Application.png") no-repeat center bottom;
    background-size: 100% 100%;
    padding-bottom: 18px;
}

.application div {
    position: absolute;
    top: -38px;
    left: 5px;
    width: 119px;
    height: 132px;
}

.application h2 {
    margin-left: 139px;
    padding-right: 15px;
    font-size: 22px;
    color: #c8c8c8;
    letter-spacing: -0.023em;
}

.application p {
    margin: -4px 0 0 139px;
    padding-right: 27px;
    letter-spacing: -0.015em;
    line-height: 20px;
}

main .applications {
    display: flex;
}

.applications section {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 50%;
    background: url("../img/App_background.png") no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    padding-left: 25px;
    border: 1px solid #252525;
    border-radius: 5px;
}

.applications h2 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.025em;
}

.applications span {
    font-weight: normal;
    line-height: 30px;
}

.applications p {
    font-size: 15px;
    max-width: 65%;
    padding-top: 10px;
    padding-right: 24px;
    letter-spacing: -0.023em;
}

.applications .learn_more_link span {
    line-height: 15px;
}

.applications .img_1 {
    position: absolute;
    background-position: -119px 0px;
    width: 117px;
    height: 120px;
    top: 15px;
    right: -10px;
}

.applications .img_2 {
    position: absolute;
    background-position: -119px -120px;
    width: 108px;
    height: 108px;
    top: 15px;
    right: 10px;
}

.mac_app_store section {
    display: inline-block;
    position: relative;
    max-width: 59.4%;
    background: url("../img/splitter.png") no-repeat center right;
    margin: 0 0 30px 150px;
    padding: 5px 10px 0 0;
    letter-spacing: -0.025em;
}

.mac_app_store div {
    position: absolute;
    top: 0px;
    left: -125px;
    background-position: 0px -132px;
    width: 101px;
    height: 145px;
}

.mac_app_store h2 {
    font-size: 22px;
    line-height: 1.2;
    font-weight: normal;
}

.mac_app_store p {
    line-height: 20px;
    padding-right: 20px;
}

.mac_app_store article {
    position: relative;
    float: right;
    width: 20%;
    margin-right: 20px;
    letter-spacing: -0.023em;
}

.mac_app_store table {
    min-width: 205px;
    margin-bottom: 30px;
    margin-left: -5px;
}

table tr>td {
    text-align: right;
}

table tr td:nth-of-type(2) {
    text-align: left;
    padding-left: 5px;
}

.mac_app_store a {
    display: block;
    width: 120px;
    margin: -15px auto 0;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
}

main .bottom_info {
    position: relative;
    background: url("../img/Bottom_info_background_2.png") no-repeat;
    background-size: 100% 100%;
    margin: 35px 0 40px;
    padding: 15px 0 10px;
}

.bottom_info div {
    float: left;
    font-size: 13px;
    letter-spacing: -0.023em;
    line-height: 20px;
}

.bottom_info .bold {
    font-size: 15px;
    color: #ffffff;
}

.bottom_info .padding {
    display: inline-block;
    padding-top: 25px;
}

.bottom_info div:not(.no_indent) {
    margin-left: 15px;
}

.bottom_info div:nth-of-type(1) {
    width: 13.1%;
    font-size: 12px;
    color: #969696;
    margin-left: 25px;
}

.bottom_info div:nth-of-type(2) {
    width: 12.3%;
}

.bottom_info div:nth-of-type(3) {
    font-size: 15px;
    width: 14.7%;
}

.bottom_info div:nth-of-type(4) {
    width: 10.3%;
}

.bottom_info div:nth-of-type(5) {
    width: 9.9%;
}

.bottom_info div:nth-of-type(6) {
    width: 11.4%;
}

.bottom_info div:nth-of-type(7) {
    width: 14.5%;
}

.bottom_info i {
    transition: transform .2s;
    font-style: normal;
}

.bottom_info i:hover {
    display: inline-block;
    transform: scale(1.1);
    text-decoration: underline;
}

.bottom_info .bottom_info_image {
    position: absolute;
    background: url("../img/Bottom_info_background_1.png") no-repeat;
    background-size: 100% 100%;
    top: -40px;
    left: -15px;
    width: 100%;
    height: 40px;
}

/* FOOTER */

footer {
    font-size: 11px;
    color: #969696;
    letter-spacing: -0.023em;
}

footer a {
    color: #89d2fe;
}

footer .contacts {
    width: 100%;
    border-bottom: 1px solid #575757;
    padding-bottom: 10px;
}

.contacts p,
.contacts .footer_menu {
    display: inline-block;
    vertical-align: top;
}

.contacts p {
    width: 49%;
    margin: 0 -2px 0 2px;
}

.contacts .footer_menu {
    width: 49%;
    margin-left: 16px;
    text-align: right;
}

ul.footer_menu,
.copyright ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_menu li,
.copyright li {
    display: inline-block;
    white-space: nowrap;
}

.footer_menu a,
.copyright a {
    display: block;
    margin-left: -3px;
    padding: 0 15px;
    border-right: 1px solid #707070;
}

.footer_menu li:last-of-type a {
    position: relative;
    width: 25px;
    border-right: none;
    padding-right: 0;
    font-size: 0;
}

.footer_menu .flag {
    width: 22px;
    height: 23px;
    background-position: -22px 0px;
    top: -7px;
    right: 2px;
}

.contacts a:hover,
.copyright a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: -2px;
}

.copyright p,
.copyright ul {
    display: inline-block;
}

.copyright p {
    margin-left: 2px;
}

.copyright ul {
    margin-left: 50px;
}

.copyright li:last-of-type a {
    border-right: none;
}

@media (min-width:769px) and (max-width:991px) {
    .container {
      max-width: 735px;
    }

    /*HEADER*/

    nav {
      margin-bottom: 25px;
    }

    nav a,
    nav span {
      width: 76.3px;
      padding: 10px 0;
    }

    nav .img_apple {
      top: 6px;
      left: 27px;
    }

    nav input {
      top: 8px;
    }

    nav .img_search {
      top: 13px;
    }

    .additional_menu_position a {
      margin-right: 25px;
    }

    header>div {
      margin-bottom: 60px;
    }

    /*MAIN*/

    .top_info>img {
      max-width: 150%;
      margin-top: -32%;
      margin-left: -24.5%;
    }


    main .vidoeplayer {
      margin: -310px 0 30px -53px;
      padding-top: 45px;
    }

    main .news {
      margin-bottom: 35px;
    }

    .news article:nth-of-type(2) {
      border-right: none;
    }

    .news article:nth-of-type(3) {
      position: relative;
      width: 569px;
      min-height: 166px;
      margin-left: 3px;
      margin-bottom: 36px;
      border-top: 2px solid black;
      background: linear-gradient(to top, #1A1A1A 0%, #1D1D1D 100%);
    }

    .news article:nth-of-type(3) p {
      width: 50%;
    }

    .news .picture {
      position: absolute;
      right: -14px;
      top: -7px;
    }

    .background_image {
      margin-right: -5px;
      margin-left: 51px;
      background: url("../img/Bg735px.png") no-repeat;
      background-size: 92.3% 77%;
    }

    main .application {
      max-width: 738px;
    }

    .applications h2 {
      margin-right: 130px;
    }

    .applications p {
      max-width: 100%;
      padding-top: 5px;
    }

    .applications h2 span {
      display: inline-block;
      margin-top: 5px;
      line-height: 25px;
    }

    .mac_app_store section {
      max-width: 50%;
      vertical-align: middle;
    }

    .mac_app_store article {
      display: inline-block;
      float: none;
      margin: -30px 55px 0 0;
      vertical-align: middle;
    }

    .mac_app_store article a {
      margin-left: 37px;
    }

    .bottom_info div {
      float: none;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 25px;
    }

    .bottom_info div:nth-of-type(1) {
      width: 17.1%;
    }

    .bottom_info div:nth-of-type(2) {
      width: 16%;
    }

    .bottom_info div:nth-of-type(3) {
      width: 19.2%;
    }

    .bottom_info div:nth-of-type(4) {
      width: 13.4%;
    }

    .bottom_info div:nth-of-type(5) {
      margin-left: 17px;
      width: 12.9%;
    }

    .bottom_info div:nth-of-type(6) {
      width: 14.8%;
      margin-left: 25px;
      margin-bottom: 10px;
    }

    .bottom_info div:nth-of-type(7) {
      width: 18.9%;
      margin-left: 32px;
      margin-bottom: 10px;
    }

    /*FOOTER*/

    .contacts p {
      width: 56.2%;
      box-sizing: border-box;
      border-right: 1px solid #707070;
      padding-right: 60px;
      padding-left: 60px;
    }

    .contacts .footer_menu {
      box-sizing: border-box;
      margin-left: 0;
      padding-right: 45px;
      padding-left: 45px;
      width: 43%;
    }

    .footer_menu li:nth-of-type(3) a {
      border-right: none;
      padding-right: 5px;
    }

    .footer_menu li:last-of-type a {
      margin-right: 5px;
      padding-top: 5px;
    }

    .footer_menu .flag {
      top: -2px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .container {
      max-width: 100%;
      overflow: hidden;
    }

    /*HEADER*/

    header nav {
    margin-bottom: 25px;
    text-align: center;
    }

    nav a,
    nav span {
      width: 60px;
      padding: 5px 0;
    }

    nav .img_apple {
      top: 1px;
      left: 18px;
    }

    nav input {
      top: 3px;
    }

    nav .img_search {
      top: 8px;
    }

    header>div {
      margin-bottom: 40px;
    }

    header>div>span {
      animation: none;
      display: block;
      margin: -7px 0 8px;
      font-size: 20px;
      text-align: center;
    }

    .additional_menu_position  {
      max-width: 100%;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .additional_menu_position li:nth-of-type(n) {
      animation: none;
      position: static;
    }

    .top_info>h1 {
      animation: none;
      font-size: 50px;
      margin-bottom: 25px;
    }

    .top_info b {
      animation: none;
      font-size: 25px;
    }

    .top_info a {
      animation: none;
      transition: none;
      font-size: 16px;
      margin: 18px 0 35px -10px;
    }

    .top_info a:hover {
      font-size: 16px;
    }

    .container .triangle {
      transition: none;
    }

    .container a:hover .triangle {
      transform: none;
    }

    /*MAIN*/

    .top_info>img {
      animation: none;
      max-width: 150%;
      margin-top: -37%;
      margin-left: -24.5%;
    }

    main .vidoeplayer {
      margin: -45% auto 30px;
      padding-top: 7%;
    }

    main .news {
      display: block;
      margin-bottom: 45px;
    }

    .news article {
      display: block;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 5px;
      padding: 18px 15px 17px;
      background: linear-gradient(to top right, #222222 0%, #545454 100%);
      border-radius: 8px;
      box-shadow: 0 0 10px 1px black;
    }

    .news article:nth-of-type(2) {
      width: 100%;
      margin-left: 0;
      border: none;
    }

    .news h2,
    .news p,
    .news figure,
    .news .picture {
      margin: 0;
      padding: 0;
    }

    .news h2 {
      font-size: 19px;
      padding-bottom: 10px;
    }

    .news p,
    .news figure {
      display: inline-block;
      vertical-align: middle;
    }

    .news p {
      width: 55%;
      padding-right: 10px;
    }

    .news figure {
      width: 41.5%;
      height: 100%;
      text-align: center;
    }

    .news figure img {
      min-width: 175px;
      max-width: 80%;
    }

    .news .picture img:nth-of-type(2) {
      display: inline-block !important;
      position: static;
    }

    .news .picture img:nth-of-type(1) {
      display: none;
      width: 100%;
      max-width: 277px;
      right: 0;
      top: 0;
    }

    .picture:hover img {
      filter: none;
    }

    .background_image {
      background: none;
    }

    main .application {
      max-width: 100.4%;
      margin-bottom: 10px;
      box-shadow: 0 6px 4px -4px black;
    }

    .application h2 {
      font-size: 19.5px;
      line-height: 20px;
    }

    main .applications {
      display: block;
      margin-bottom: 25px;
    }

    .applications section {
      width: 100%;
      margin-bottom: 2px;
      box-shadow: 0 0 10px 1px black;
    }

    .applications h2 {
      font-size: 19.5px;
    }

    .applications .img_1,
    .applications .img_2 {
        position: static;
        float: right;
        margin-left: 8px;
    }

    .applications .img_1 {
      height: 93px;
      margin-top: -65px;
      margin-right: -10px;
    }

    .applications .img_2 {
      height: 94px;
      margin-top: -70px;
      margin-right: 12px;
    }

    .applications p {
      max-width: 100%;
      padding-top: 10px;
      padding-right: 25px;
    }

    .mac_app_store section {
      max-width: 100%;
      background: none;
      margin-bottom: 40px;
    }

    .mac_app_store h2 {
      line-height: 23px;
    }

    .mac_app_store article {
      float: none;
      width: 100%;
      margin-top: -30px;
      text-align: center;
    }

    .mac_app_store table {
      display: inline-block;
      margin-bottom: 30px;
    }

    .mac_app_store article a {
      display: block;
    }

    main .mac_app_store {
      margin-bottom: 80px;
    }

    main .bottom_info {
      padding: 15px 10px 10px;
      margin-bottom: 10px;
    }

    .bottom_info .bold {
      font-size: 13px;
    }

    .bottom_info .padding {
      padding-top: 13px;
    }

    .bottom_info div {
      float: none;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      margin-bottom: 13px;
      font-size: 11.6px;
    }

    .bottom_info div:nth-of-type(-n+7) {
      margin-left: 0.6%;
    }

    .bottom_info div:nth-of-type(1) {
      width: 11em;
      font-size: 11px;
    }

    .bottom_info div:nth-of-type(2) {
      width: 9em;
    }

    .bottom_info div:nth-of-type(3) {
      width: 10em;
      font-size: 12px;
    }

    .bottom_info div:nth-of-type(4) {
      width: 8em;
    }

    .bottom_info div:nth-of-type(5) {
      width: 8em;
    }

    .bottom_info div:nth-of-type(6) {
      width: 8em;
    }

    .bottom_info div:nth-of-type(7) {
      width: 11em;
    }

    /*FOOTER*/

    .contacts p {
      width: 100%;
      border-right: none;
    }

    .contacts .footer_menu {
      box-sizing: border-box;
      margin: 5px 0 0;
      padding: 0 2px 0 0;
      width: 100%;
    }

    .footer_menu li:nth-of-type(3) a {
      border-right: none;
      border-right: 1px solid #707070;
    }

    .footer_menu li:last-of-type a {
      margin-right: 5px;
      padding-top: 5px;
    }

    .footer_menu .flag {
      top: -1px;
    }

    .copyright p {
      margin-left: 2px;
    }

    .copyright ul {
      margin-left: 0px;
    }

    .copyright a {
      padding: 0 10px;
    }
}

@media (min-width:481px) and (max-width:636px) {
    header nav {
        margin-bottom: 55px;
    }

    nav>ul li:first-of-type,
    nav>ul li:last-of-type {
        position: relative;
    }

    nav li:first-of-type a,
    nav li:last-of-type span {
        position: absolute;
        bottom: -40px;
    }

    nav li:first-of-type a {
        left: 121px;
    }

    nav li:last-of-type span {
        right: 122px;
        width: 121px;
    }

    nav li:nth-of-type(2) a {
        border-radius: 6px 0 0 6px;
    }

    nav li:nth-of-type(8) a {
        border-radius: 0 6px 6px 0;
    }
}

@media (max-width:480px) {
    body {
        overflow-x: auto;
    }

    .container {
      max-width: 100%;
    }

    .container .triangle {
      display: none;
    }

    .application div,
    .applications div,
    .mac_app_store div {
      background: none;
      display: none;
    }

    /*HEADER*/

    .mobile_menu_arrow {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: -12px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: url("../img/mobile_menu_arrow.png") center / contain no-repeat;
        transition: transform, top .5s;
        z-index: 4;
    }

    .mobile_menu_arrow_click {
        bottom: -9px;
        transform: rotate(180deg);
    }

    nav {
        position: absolute;
        width: auto;
        top: -430px;
        left: 1px;
        right: 1px;
        z-index: 3;
        transition: all .5s;
    }

    .nav_mobile_click {
        position: fixed;
        top: -12px;
    }

    header nav ul {
        background: #a3a39f;
        padding: 5px 0 12px;
    }

    header nav ul::before {
        content: "";
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        bottom: -12px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #a3a39f;
        border-radius: 50%;
    }

    header nav li {
        display: block;
        margin: 0;
        margin-right: 2px;
    }

    header nav a,
    nav li:last-of-type span {
        width: 100%;
        margin: 0;
        background: #8d8d88;
        border-radius: 6px !important;
    }
    nav a:hover {
        box-shadow: none;
        font-size: 14px;
        text-shadow: none;
    }

    nav li:last-of-type span {
        height: 33px;
    }

    header .img_apple {
        right: 0%;
        left: 0%;
        margin: 0 auto;
    }

    header nav input {
        right: 0;
        left: 0;
        width: 150px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 1px 10px;
    }

    header nav span::before {
        content: 'Search: ';
        display: block;
        background: transparent;
        width: 0;
        height: 0;
        margin-top: -5px;
    }

    header .img_search {
        display: none;
    }

    .modal_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 0.5);
        z-index: 2;
    }

    header>div {
      margin-bottom: 20px;
    }

    header>div>span {
      animation: none;
      display: block;
      margin: 30px 0 10px;
      font-size: 19px;
      text-align: center;
    }

    .additional_menu_position  {
      max-width: 100%;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .additional_menu_position li:nth-of-type(n) {
      animation: none;
      position: static;
    }

    .additional_menu_position li:nth-of-type(n) a {
      margin-right: 0;
      margin-left: 7px;
    }

    /*MAIN*/

    .top_info>h1 {
      animation: none;
      font-size: 22px;
      margin-bottom: 15px;
    }

    .top_info b {
      animation: none;
      font-size: 19px;
    }

    .top_info a {
      animation: none;
      transition: none;
      font-size: 14px;
      margin: 12px 0 0 -10px;
    }

    .top_info a:hover {
      font-size: 14px;
    }

    .top_info>img {
      display: none;
    }


    main .learn_more_link:hover {
      font-size: 100%;
    }

    main .top_info {
      min-height: 50px;
      margin-bottom: 25px;
    }

    .top_info a {
      padding: 0 10px;
    }

    main .vidoeplayer {
      margin: 0 auto 30px;
      padding-top: 0;
      margin-top: 0;
    }

    .vidoeplayer span {
      font-size: 16px;
    }

    main .news {
      margin-bottom: 40px;
    }

    .news article {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 5px;
      padding: 18px 10px 17px;
      background: linear-gradient(to top right, #222222 0%, #545454 100%);
      border-radius: 8px;
      box-shadow: 0 0 10px 1px black;
    }

    .news article:nth-of-type(2) {
      width: 100%;
      margin-left: 0;
      border: none;
    }

    .news h2,
    .news p,
    .news figure,
    .news .picture {
      margin: 0;
      padding: 0;
    }

    .news h2 {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .news p {
      width: 100%;
      padding-bottom: 10px;
    }

    .news figure {
      width: 100%;
      height: 0%;
      text-align: center;
    }

    .news figure img {
      min-width: 200px;
      max-width: 80%;
    }

    .news .picture img:nth-of-type(2) {
      display: inline-block !important;
      position: static;
    }

    .news .picture img:nth-of-type(1) {
      display: none;
      width: 100%;
      left:0;
      top: 0;
    }

    .picture:hover img {
      filter: none;
    }

    .background_image {
      background: none;
    }

    main .application {
      max-width: 100.4%;
      margin-bottom: 10px;
      box-shadow: 0 6px 4px -4px black;
    }

    .application h2 {
      margin-left: 10px;
      padding-right: 10px;
      font-size: 18px;
      line-height: 20px;
    }

    .application p {
      box-sizing: border-box;
      width: 99%;
      margin: -4px 0 0 10px;
      padding-right: 22px;
      font-size: 15px;
    }

    main .applications {
      display: block;
      margin-bottom: 0;
    }

    .applications section {
      width: 100%;
      margin-bottom: 2px;
      padding: 0 10px;
      box-shadow: 0 0 10px 1px black;
    }

    .applications h2 {
      text-align: center;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .applications h2 span {
      display: block;
      padding-top: 5px;
      text-align: left;
      line-height: 20px;
    }

    .applications p {
      max-width: 100%;
      margin-top: 0;
      padding-top: 0;
      padding-right: 0;
    }

    .mac_app_store section {
      display: block;
      position: static;
      max-width: 100%;
      margin: 0 0 15px 0;
      padding: 5px 10px 0;
      background: none;
    }

    .mac_app_store h2 {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .mac_app_store p {
      font-size: 15px;
      margin-top: 0;
      padding-right: 0;
    }

    .mac_app_store article {
      position: static;
      float: none;
      width: 100%;
      text-align: center;
    }

    .mac_app_store table {
      display: inline-block;
      margin-left: 15px;
      margin-bottom: 15px;
      font-size: 16px;
    }

    .mac_app_store article a {
      display: block;
    }

    main .mac_app_store {
      margin-bottom: 60px;
    }

    main .bottom_info {
      padding: 15px 10px 10px;
      margin-bottom: 10px;
    }

    /*FOOTER*/

    .bottom_info .bold {
      font-size: 13px;
    }

    .bottom_info .padding {
      padding-top: 13px;
    }

    .bottom_info div {
      float: none;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      margin-bottom: 13px;
      font-size: 11.6px;
    }

    .bottom_info div:nth-of-type(-n+7) {
      margin-left: 2%;
      width: 30%;
    }

    .bottom_info div:nth-of-type(1) {
      font-size: 11px;
    }

    .bottom_info div:nth-of-type(3) {
      font-size: 12px;
    }

    .bottom_info i:hover {
      transform: none;
    }

    /*FOOTER*/

    .contacts p {
      width: 100%;
      margin: 0;
      border-right: none;
    }

    .contacts .footer_menu {
      position: relative;
      box-sizing: border-box;
      margin: 7px 0 21px;
      padding: 0 2px 0 0;
      width: 100%;
    }

    .footer_menu li a {
      position: absolute;
    }

    .footer_menu li:nth-of-type(1) a {
      left: 0;
    }

    .footer_menu li:nth-of-type(2) a {
      left: 78px;
    }

    .footer_menu li:nth-of-type(3) a {
      left: 150px;
      border-right: none;
    }

    .footer_menu li:nth-of-type(-n+3) a {
      bottom: 3px;
    }

    .footer_menu li:nth-of-type(4) a {
      right: 126px;
    }

    .footer_menu li:nth-of-type(5) a {
      right: 41px;
    }

    .footer_menu li:nth-of-type(6) a {
      right: 0;
    }

    .footer_menu li:nth-of-type(n+4) a {
      bottom: -16px;
    }

    .footer_menu .flag {
      top: -2px;
    }

    footer .copyright {
      text-align: center;
    }

    .copyright p {
      margin-left: 0px;
    }

    .copyright ul {
      margin-left: 0px;
    }

    .copyright a {
      padding: 0 10px;
    }

    .copyright li:last-of-type a {
      padding-right: 4px;
    }
}

@media (min-width:474px) and (max-width:480px) {
    footer .contacts {
        padding-bottom: 9px;
    }

    .contacts p {
        width: 100%;
        margin: 0;
        border-right: none;
        text-align: center;
    }

    .contacts .footer_menu {
        box-sizing: border-box;
        margin: 5px 0 0;
        padding: 0 2px 0 0;
        width: 100%;
        text-align: center;
    }

    .footer_menu li a {
        position: static;
    }

    .footer_menu li:nth-of-type(3) a {
        border-right: 1px solid #707070;
    }

    .footer_menu li:last-of-type a {
        margin-right: 5px;
        padding-top: 5px;
    }

    .footer_menu .flag {
        top: -17px;
    }

    footer .copyright {
        text-align: center;
    }

    .copyright p {
        margin-left: 0px;
    }

    .copyright ul {
        margin-left: 0px;
    }

    .copyright a {
        padding: 0 10px;
    }

    .copyright li:last-of-type a {
        padding-right: 4px;
    }
}

@media (max-width:377px) {
    .additional_menu_position li:last-of-type a {
        margin-top: 3px;
    }
}

@media (min-width:413px) and (max-width:480px) {
    .bottom_info div:nth-of-type(7) {
        width: 35%;
    }

    .bottom_info div:nth-of-type(6) {
        margin-top: -60px;
    }
}

@media (max-width:425px) {
    .bottom_info div:nth-of-type(odd) {
        width: 48%;
        margin-left: 1.8%;
    }

    .bottom_info div:nth-of-type(-2n+6) {
        width: 43%;
        margin-left: 5%;
    }

    .bottom_info div:nth-of-type(1) {
        font-size: 11px;
    }

    .bottom_info div:nth-of-type(3) {
        font-size: 12px;
    }

    .bottom_info div:nth-of-type(6) {
        margin-top: -13px;
    }

    .bottom_info div:nth-of-type(7) {
        width: 50%;
        margin-top: -47px;
    }
}

@media (max-width:991px) {
    .news p,
    .application p,
    .applications p,
    .mac_app_store p {
        text-align: justify;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}
